html
  head
    style
      include style.css
    script
      include script.js
    title= title
  body
    h1
      img(src='/luppolo.png')
      a(href='/')= title
    div#menu
      div#menuHeader
        h2
          a(href='/') Home
          span= ' / DB: '+db
        h3 [KEYS]
          a(href='/luppolo/ui/'+db+'/_search' class='searchBtn') search
      ul
        if keys.length == 0
          li [no key]
        each key in keys
          li
            a(href= '/luppolo/query/'+db+'/'+key+'?pretty' target='valueFrame')= key
            | 
            a(href= '#' class='deleteBtn' onclick='onDelete("' + db + '", "' + key + '")')= 'delete'

    iframe#valueFrame(name='valueFrame')